.mainBody{
  margin: 0;
  padding: 0;
  background-color: #1c1e21;
}

.mainHeader{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid lightgray;
}

nav{
  background-color: black;
  height: 100%;
  /* border-bottom: 1px solid white; */
}

/* .mainNav__elements{
  
} */

#mainNav__logo{
  padding-left: 0;
  font-size: 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.rowDiv{
  height: 100%;
}

.container-xl{
  height: 100%;
}

.mainNav__iconsContainer{
  display: flex;
  flex-flow: row;
  justify-content: end;
}

.mainNav__iconsDiv{
  margin-right: 30px;
}

.mainNav__profilePhoto{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.mainCont{
  margin: 0 auto;
  max-width: 991px;
  height: 40px;
  /* background-color: white; */
}

.stories__container{
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 30px;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.stories__profiles{
  text-align: center;
  margin: 10px;
}

.stories__images{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 1px;
  border:2px solid rgb(226, 86, 226);
}

.stories__name{
  color: white;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainCont__sugests{
  margin-top: 30px;
  background-color: 1c1e21;
  border: 1px solid white;
  color: white;
}

.sugests__profileCont{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.sugests__profileImg{
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.sugests__text{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#sugests__username{
  color: white;
  font-weight: 700;
}

#sugests__name{
  color: lightgray;
}

.sugests__linkDiv{
  justify-self: end;
  text-align: end;
}

.sugests__link{
  text-decoration: none;
  text-align: end;
}

.posts{
  width: 100%;
}

posts__img{
  width: 100%;
  height: auto;
}

@media (min-width: 991px){
  .mainNav__iconsContainer{
    justify-content: start;
  }

  #mainNav__logo{
    padding-left: 50px;
  }
}